<div class="wrapper">
<div class="container">

  <h1 class="center title">Fintrak Academy Album</h1>

  <!-- <h1 class="yellow">Class Album {{nane}}</h1>
  <ul class="list-group small-width">
    <li class="list-group-item">Tosin</li>
    <li class="list-group-item">Zino </li>
    <li class="list-group-item">Sarah</li>
    <li class="list-group-item">Najeeb</li>
    <li class="list-group-item">CHarlse</li>

  </ul>
  <hr> -->
  <!-- <div class="row">
      <div class="col-md-4" *ngFor="let trainee of academy; let i = index">{{i}}</div>

  </div> -->
    <div class="row">
      <div class="col-md-4" *ngFor="let trainees of academy; let i = index">
        <app-trainee [trainees]="trainees"></app-trainee>

      </div>

  </div>


<!--
  <ul class="list-group small-width li-no-bullet row">
    <li   *ngFor="let trainees of academy" class="col-md-4">

      <div class="card" style="width: 18rem;">
        <img src="./assets/img/{{trainees.image}}" class="card-img-top profile_pic" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{trainees.name}}</h5>
          <p><strong>Complexion:</strong> {{trainees.complexion}}</p>
          <p><strong>Hobbies:</strong></p>
          <ul>
            <li *ngFor="let hobby of trainees.hobbies">{{hobby}}</li>
          </ul>

        </div>
      </div>
    </li>

  </ul>
  <hr> -->
  <!-- <app-album></app-album> -->
</div>
</div>
